In [ ]:
word='python programming'
for letter in word:
  print(letter,end='')

python programming

In [ ]:
word='python programming'
for letter in word:
  print(letter)

p
y
t
h
o
n

p
r
o
g
r
a
m
m
i
n
g

In [ ]:
number =[1,2,3,4,5]
sum=0
for num in number:
  sum =sum+num
  print(sum)

1
3
6
10
15

In [ ]:
# while loop
i=0
while(i!=10):
   print(i)
   i+=2

0
2
4
6
8

In [ ]:
l1=[5,15,22,32,46,89]
even=[]
odd=[]

while len(l1)>0:
  l=l1.pop()
  if l%2==0:
    even.append(1)
  else:
      odd.append(1)
      print(even)
      print(odd)

[]
[1]
[1, 1, 1]
[1, 1]
[1, 1, 1]
[1, 1, 1]

In [ ]:
''' WAp that allows the user to input the names untill the user decides to stop.Then,print all the names the user has entering'''

In [ ]:
names = []

while True:
    name = input("Enter a name (or 'q' to quit): ")
    if name == "q":
        break
    names.append(name)

print("You entered the following names:")
for name in names:
    print(name)

Enter a name (or 'q' to quit): punnya
Enter a name (or 'q' to quit): ponuzz
Enter a name (or 'q' to quit): q
You entered the following names:
punnya
ponuzz